{% extends 'base.html.twig' %}

{% block body %}

<h1>Notifications</h1>

<br>
<br>

<table id="notificationTable" class="table table-striped table-hover text-center">
    <thead>
    <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Notification</th>
        <th class="text-center">Clôturer</th>
    </tr>
    </thead>
    <tbody>
    {% for notification in notifications %}
        <tr>
            <td>{{ notification.creationDate|date("Y-m-d H:i:s")}}</td>
            <td>{{ notification.description }}</td>
            <td><input type="checkbox"></td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" align="right"><button onclick="deleteSelectedRows()" class="btn btn-danger pull-right">Clôturer</button></td>
    </tr>
    </tfoot>
</table>


<script>
    $('input[type=checkbox]').change(function () {
        $(this).closest('tr').find('td').toggleClass('danger', this.checked);
    });

    function deleteSelectedRows(){
        $('input:checkbox:checked').parents("tr").remove();
        //TODO : ajax call to archive these notifications
    }
</script>


{% endblock %}
