{% extends 'base.html.twig' %}

{% block body %}

<h1>Occupations</h1>

<br>
<br>

<table id="notificationTable" class="table table-striped table-hover text-center">
    <thead>
    <tr>
        <th class="text-center">Conteneur</th>
        <th class="text-center">Type de déchets</th>
        <th class="text-center">Volume</th>
        <th class="text-center">Remplissage</th>
        <th class="text-center">Clôturer</th>
    </tr>
    </thead>
    <tbody>
    {% for container in containers %}
        <tr>
            <td>{{ container.id }}</td>
            <td>{{ container.wasteType.name }}</td>
            <td>{{ container.capacity }}</td>
            <td>{% set percentage = container.usedVolume/container.capacity*100 %} {{ percentage }}%</td>
            <td><input type="checkbox"></td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" align="right"><button onclick="deleteSelectedRows()" class="btn btn-danger pull-right">Clôturer</button></td>
    </tr>
    </tfoot>
</table>


<script>
    $('input[type=checkbox]').change(function () {
        $(this).closest('tr').find('td').toggleClass('danger', this.checked);
    });

</script>


{% endblock %}
