{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center">Statistiques</h1>

<br>
<br>

    <form class="form-inline text-center">
        <div class="form-group">
            <select id="selectPeriod" class="form-control" onchange="changePeriodSelect()">
                <option selected value="journalier">Journalier</option>
                <option value="mensuel">Mensuel</option>
            </select>
        </div>
        <div class="form-group">
            <select id="selectVisiteOrVolume" class="form-control" onchange="changeVisiteAndVolumeSelect()">
                <option selected value="visite">Nombre moyen de visite</option>
                <option value="volume">Moyenne des volumes de déchets</option>
            </select>
        </div>
        <div id="wasteTypeSelectDiv" style="display: none;" class="form-group">
            <select id="selectWasteType" class="form-control">
                <option selected disabled value="0">Tous les déchets</option>
                {% for waste_type in waste_types %}
                <option value="{{ waste_type.id }}">{{ waste_type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" onclick="generateStatistiques()" class="btn btn-primary">Générer</button>
    </form>

    <br>
    <br>

    <table id="statsTable" class="table table-striped table-hover text-center">
        <thead>
            <tr>
                <th width="50%" id="tableFirstColumnHeader" class="text-center">Jour</th>
                <th width="50%" id="tableSecondColumnHeader" class="text-center">Nombre moyen de visite</th> <!--equal to what is selected in listbox-->
            </tr>
        </thead>
        <tbody id="bodyStatsTable">

        <tr class="text-center">
            <td colspan="2">Veuillez faire une recherche pour afficher les statistiques</td>
        </tr>

        </tbody>
    </table>
    <br>
    <br>
    <br>
    <div class="row">
        <div hidden id="alertSuccess" class="alert alert-success alert-dismissible text-center" role="alert"></div>
        <div hidden id="alertError" class="alert alert-danger text-center" role="alert"></div>
        <div hidden id="alertWarning" class="alert alert-warning text-center" role="alert"></div>
    </div>

    <script>

        $( document ).ready(function() {
            $('#statsTable').DataTable();
        });

        function changeVisiteAndVolumeSelect(){
            var selected = $('#selectVisiteOrVolume').find(":selected");
            if(selected.val() === "visite"){
                $('#wasteTypeSelectDiv').css('display', 'none');
            }else{
                $('#wasteTypeSelectDiv').removeAttr("style");
            }
            $('#tableSecondColumnHeader').text(selected.text());
        }

        function changePeriodSelect(){
            var selected = $('#selectPeriod').find(":selected");
            $('#tableFirstColumnHeader').text(selected.text());
        }

        function generateStatistiques(){
            var visiteOrVolume = $('#selectVisiteOrVolume').find(":selected").val();
            var period = $('#selectPeriod').find(":selected").val();
            var wasteType = $('#selectWasteType').find(":selected").val();
            var url = "/statistiques/" + period + "/" + visiteOrVolume + "/" + wasteType + ""
            $('#alertWarning').text('Wait...');
            $('#alertWarning').slideUp(300).fadeIn(400).delay(2500).fadeOut();
            $.ajax({
                url: url,
                method: "get"
            }).done(function(msg){
                $('#alertSuccess').text('Statistiques récupérées avec succès !');
                $('#alertSuccess').slideUp(300).fadeIn(400).delay(2500).fadeOut();
                refreshStatTable(msg);
            }).fail(function(){
                $('#alertError').text('Une erreur s\'est produite...');
                $('#alertError').slideUp(300).fadeIn(400).delay(2500).fadeOut();
            });
        }

        function sqlToFrench($day){
            switch ($day){
                case 'Monday':
                    return 'Lundi';
                case 'Tuesday':
                    return 'Mardi';
                case 'Wednesday':
                    return 'Mercredi';
                case 'Thursday':
                    return 'Jeudi';
                case 'Friday':
                    return 'Vendredi';
                case 'Saturday':
                    return 'Samedi';
                case 'Sunday':
                    return 'Dimanche';
                case 'January':
                    return 'Janvier';
                case 'February':
                    return 'Février';
                case 'March':
                    return 'Mars';
                case 'April':
                    return 'Avril';
                case 'May':
                    return 'Mai';
                case 'June':
                    return 'Juin';
                case 'July':
                    return 'Juillet';
                case 'August':
                    return 'Août';
                case 'September':
                    return 'Septembre';
                case 'October':
                    return 'Octobre';
                case 'November':
                    return 'Novembre';
                case 'December':
                    return 'Décembre';
            }
        }


        function refreshStatTable(msg){
            var tbody = '';

            $.each(JSON.parse(msg['data']), function(i, item){
                tbody +=  "<tr class='text-center'>  \
                                <td>" + sqlToFrench(item['key']) + " </td> \
                                <td>" + item['value'] + "</td> \
                            </tr>";
            });


            if(tbody===''){
                tbody += '<tr class="text-center"><td colspan=\"2\">Aucune statistiques disponibles !</td></tr>';
            }

            $('#bodyStatsTable').html(tbody);
        }


    </script>

{% endblock %}
