{% extends 'base.html.twig' %}

{% block body %}

<br>
<br>

    <form class="form-inline text-center">
        <div class="form-group">
            <select id="selectPeriod" class="form-control" onchange="changePeriodSelect()">
                <option selected value="journalier">Daily</option>
                <option value="mensuel">Monthly</option>
            </select>
        </div>
        <div class="form-group">
            <select id="selectVisiteOrVolume" class="form-control" onchange="changeVisiteAndVolumeSelect()">
                <option selected value="visite">Average number of visits</option>
                <option value="volume">Average waste volume</option>
            </select>
        </div>
        <div id="wasteTypeSelectDiv" style="display: none;" class="form-group">
            <select id="selectWasteType" class="form-control">
                <option selected disabled value="0">All wastes</option>
                {% for waste_type in waste_types %}
                <option value="{{ waste_type.id }}">{{ waste_type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" onclick="generateStatistiques()" class="btn btn-primary">Show</button>
    </form>

    <br>
    <br>

    <table id="statsTable" class="table table-striped table-hover text-center">
        <thead>
            <tr>
                <th width="50%" id="tableFirstColumnHeader" class="text-center">Day</th>
                <th width="50%" id="tableSecondColumnHeader" class="text-center">Average number of visits</th> <!--equal to what is selected in listbox-->
            </tr>
        </thead>
        <tbody id="bodyStatsTable">

        <tr class="text-center">
            <td colspan="2">Make a research to display statistics</td>
        </tr>

        </tbody>
    </table>
    <br>
    <br>
    <br>
    <div class="row">
        <div hidden id="alertSuccess" class="alert alert-success alert-dismissible text-center" role="alert"></div>
        <div hidden id="alertError" class="alert alert-danger text-center" role="alert"></div>
        <div hidden id="alertWarning" class="alert alert-warning text-center" role="alert"></div>
    </div>

    <script>

        $( document ).ready(function() {
            $('#statsTable').DataTable();
        });

        function changeVisiteAndVolumeSelect(){
            var selected = $('#selectVisiteOrVolume').find(":selected");
            if(selected.val() === "visite"){
                $('#wasteTypeSelectDiv').css('display', 'none');
            }else{
                $('#wasteTypeSelectDiv').removeAttr("style");
            }
            $('#tableSecondColumnHeader').text(selected.text());
        }

        function changePeriodSelect(){
            var selected = $('#selectPeriod').find(":selected");
            $('#tableFirstColumnHeader').text(selected.text());
        }

        function generateStatistiques(){
            var visiteOrVolume = $('#selectVisiteOrVolume').find(":selected").val();
            var period = $('#selectPeriod').find(":selected").val();
            var wasteType = $('#selectWasteType').find(":selected").val();
            var url = "./statistiques/" + period + "/" + visiteOrVolume + "/" + wasteType + ""
            $('#alertWarning').text('Wait...');
            $('#alertWarning').slideUp(300).fadeIn(400).delay(2500).fadeOut();
            $.ajax({
                url: url,
                method: "get"
            }).done(function(msg){
                $('#alertSuccess').text('Statistics fetched with succes !');
                $('#alertSuccess').slideUp(300).fadeIn(400).delay(2500).fadeOut();
                refreshStatTable(msg);
            }).fail(function(){
                $('#alertError').text('An error occured...');
                $('#alertError').slideUp(300).fadeIn(400).delay(2500).fadeOut();
            });
        }

        function refreshStatTable(msg){
            var tbody = '';

            $.each(JSON.parse(msg['data']), function(i, item){
                tbody +=  "<tr class='text-center'>  \
                                <td>" + item['key'] + " </td> \
                                <td>" + item['value'] + "</td> \
                            </tr>";
            });


            if(tbody===''){
                tbody += '<tr class="text-center"><td colspan=\"2\">Aucune statistiques disponibles !</td></tr>';
            }

            $('#bodyStatsTable').html(tbody);
        }


    </script>

{% endblock %}
