{% extends 'base.html.twig' %}

{% block body %}


<h1 class="text-center">Notifications</h1>
    <br>
    <br>
<table class="table table-striped table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Notification</th>
        </tr>
    </thead>
    <tbody>
    {% if notifications  %}
        {% for notification in notifications %}
        <tr>
            <td>{{ notification.creationDate|date("Y-m-d H:i:s")}}</td>
            <td>{{ notification.description }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2">Aucune notifications</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}
